@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* start scrollbar css */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* end scrollbar css */

.chat-sidebar {
	@apply fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-dark-secondary border-r sm:translate-x-0;
}

.new-chat__button {
	@apply mx-3 mt-3 flex items-center gap-2 sm:gap-3 text-white border border-white hover:bg-lighter-gray active:bg-transparent transition-all ease-out p-2 md:p-3 rounded-md md:rounded-lg break-all text-sm md:text-base overflow-hidden;
}

.chat-send-box {
	@apply flex flex-col w-full p-4 pr-0 flex-grow relative border border-black/10 bg-[#F6F3F2] text-dark-primary rounded-xl shadow-sm;
}

.chat-textarea {
	@apply w-full pr-12 resize-none outline-none bg-[#F6F3F2] focus:outline-none focus:ring-0 focus-visible:ring-0 text-sm md:text-base;
}

.chat-send-btn {
	@apply absolute p-2 rounded-full right-2 disabled:bg-slate-400 text-black bottom-1.5 md:bottom-2 transition-colors disabled:opacity-40 bg-gradient-to-b from-[#ffcf4b] to-[#e60f83];
}
.conversation__content {
	@apply relative flex-1 w-full p-4 flex flex-col items-center justify-center;
}

/* CSS for the modal overlay */
.sidebar-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(86, 88, 105, 0.5);
	z-index: 40;
	transition: background-color 0.3s ease;
}

/* start spinner css */
.spinner_Wezc {
	transform-origin: center;
	animation: spinner_Oiah 0.75s step-end infinite;
}

@keyframes spinner_Oiah {
	8.3% {
		transform: rotate(30deg);
	}
	16.6% {
		transform: rotate(60deg);
	}
	25% {
		transform: rotate(90deg);
	}
	33.3% {
		transform: rotate(120deg);
	}
	41.6% {
		transform: rotate(150deg);
	}
	50% {
		transform: rotate(180deg);
	}
	58.3% {
		transform: rotate(210deg);
	}
	66.6% {
		transform: rotate(240deg);
	}
	75% {
		transform: rotate(270deg);
	}
	83.3% {
		transform: rotate(300deg);
	}
	91.6% {
		transform: rotate(330deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* end spinner css */

/* start typing animation css*/
.bot-typing__wrap .circle {
	background-color: #763cd4;
	border-radius: 50%;
	margin-right: 4px;
	height: 7px;
	width: 7px;
	vertical-align: middle;
	display: inline-block;
	animation: botTypingAnimation 1.8s infinite ease-in-out;
}
.bot-typing__wrap .circle:nth-child(1) {
	animation-delay: 200ms;
}
.bot-typing__wrap .circle:nth-child(2) {
	animation-delay: 300ms;
}
.bot-typing__wrap .circle:nth-child(3) {
	animation-delay: 400ms;
}
.bot-typing__wrap .circle:last-child {
	margin-right: 0;
}

@keyframes botTypingAnimation {
	0% {
		transform: translateY(0px);
		background-color: #763cd4;
	}
	28% {
		transform: translateY(-7px);
		background-color: #916ccd;
	}
	44% {
		transform: translateY(0px);
		background-color: #c2afe0;
	}
}
/* end typing animation css */
